@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@font-face {
  font-family: headFont;
  src: url(../font/Kievit\ Bold.ttf);
}

@media (max-width: 768px) {
  .issue-burger-menu span {
    background: #000 !important;
  }

  .issue-burger-menu span::before {
    background: #000 !important;
  }

  .issue-burger-menu span::after {
    background: #000 !important;
  }
  .issue-logo img {
    width: 30px;
    height: 30px;
    /* display: block !important; */
  }

  .issue-font {
    font-family: headFont !important;
    font-size: 36px !important;
    font-weight: 600 !important;
    /* border: 1px solid black !important; */
  }

  .large-font {
    display: flex;
    font-family: headFont !important;
    font-size: 36px !important;
    line-height: 40px !important;
    font-weight: 600 !important;
    margin-bottom: 0 !important;
    text-transform: uppercase;
    /* border: 1px solid black !important; */
  }

  .issue-start {
    width: 325px;
    line-height: 50px !important;
    margin-left: 0px !important;
    margin-bottom: 30px;
    font-size: 24px !important;
    line-height: 30px !important;
    /* border: 1px solid black !imp ortant; */
    text-align: center;
  }

  .issue-1-text {
    font-size: 30px !important;
    /* padding-left: 5px; */
    display: block;
    /* border: 1px solid black !important; */
  }

  .bang-text.p-3 {
    padding-left: 0px !important;
  }

  .issue-btn {
    font-size: 20px;
    line-height: 60px;
    width: 350px;
    height: 60px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    margin-bottom: 60px;
    margin-left: -10px;
    /* border: 1px solid black !important; */
    background: #da3631 !important;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5) !important;
    border-radius: 8px;
  }

  .issue-btn:hover {
    opacity: 1;
    color: #fff;
    text-decoration: none;
  }

  .issue-2-text {
    position: relative;
    font-family: headFont !important;
    width: 349px;
    height: 180px;
    text-align: left !important;
    font-size: 24px !important;
    line-height: 36px !important;
    /* border: 1px solid red; */
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px !important;
    padding: 0;
  }

  .issue-1-set {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .issue-image-container {
    /* border: 1px solid red; */
    position: relative;
    bottom: -80px;
    left: -30px;
    width: 330px;
    height: 400px;
    padding: 0;
    margin-top: -60px;
  }

  .issue-image {
    /* border: 1px solid blue; */
    width: 330px;
    height: 400px;
  }

  .issue-3-heading {
    margin-top: 40px;
    width: 100%;
    padding: 0;
    text-align: center;

    height: 52px;
    font-family: headFont !important;
    font-size: 38px !important;
    font-weight: 600 !important;
    line-height: 60px;
    margin-bottom: 30px;
    /* border: 1px solid red !important; */
  }

  .issue-3-text {
    text-align: left;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    font-family: headFont !important;
    width: 350px;
    /* border: 1px solid red !important; */
    margin-bottom: 10px;
  }

  .issue-4-heading-1 {
    /* border: 1px solid rgb(0, 0, 0) !important; */

    font-weight: 600;
    font-size: 26px;
    height: 30px;
    /* line-height: 52px; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }
  .issue-4-heading-2 {
    /* border: 1px solid rgb(0, 0, 0) !important; */
    margin-bottom: 0 !important;
    padding: 0;
  }

  .issue-4-image {
    /* border: 1px solid rgb(0, 0, 0) !important; */
    margin-top: -35px;
    width: 250px;
    height: 200px;
    margin-left: 10px;
    transform: scale(1.5);
    background: url("../img/card-tradersperson.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 !important;
    /* transform: scaleX(1.5); */

    /* border: 1px solid rgb(0, 0, 0) !important; */
  }

  .issue-5-image {
    /* border: 1px solid rgb(0, 0, 0) !important; */
    margin-top: -35px;
    width: 250px;
    height: 200px;
    transform: scale(1.6);
    background: url("../img/card-bike.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 !important;
    /* transform: scaleX(1.5); */
    margin-left: -60px;
    /* border: 1px solid rgb(0, 0, 0) !important; */
  }

  .issue-4-image img {
    display: none;
  }

  .issue-4-set-2 {
    margin-top: 20px;
    position: relative;
    /* left: -60px !important; */
    /* border: 1px solid rgb(0, 0, 0) !important; */
    width: 342px;
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .issue-4-heading-3 {
    /* border: 1px solid rgb(0, 0, 0) !important; */
    margin-bottom: 0;
    font-family: "DM Sans" !important;
    font-size: 24px !important;
    font-weight: 700 !important;
    width: 342px;
    height: 32px;
  }

  .issue-4-text {
    font-family: "Poppins" !important;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    /* border: 1px solid rgb(0, 0, 0) !important; */
  }
  .issue-down-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .issue-down-arrow span {
    cursor: pointer;
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  #issue-down-arrow-visible {
    display: none;
    flex-direction: column;
    /* list-style-type: none; */
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgb(255, 255, 255) !important; */
    height: auto;
  }

  .issue-10-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 330px;
    margin-top: -5px;
  }

  .issue-4-btn {
    background: #000000;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    width: 310px;
    height: 55px;
    font-size: 20px;
    line-height: 28px;
    color: #fedd02 !important;
  }

  .issue-5-image img {
    display: none;
  }

  .issue-down-arrow-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .issue-down-arrow-2 span {
    cursor: pointer;
    border: solid rgb(0, 0, 0);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  #issue-down-arrow-visible-2 {
    display: none;
    flex-direction: column;
    /* list-style-type: none; */
  }

  .issue-5-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    margin-left: 10px;
    width: 310px;
    height: 55px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;

    background: #da3631 !important;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5) !important;
    border-radius: 8px;
  }

  .issue-6-heading {
    width: 330px;
  }

  .issue-6-set-1 {
    /* border: 1px solid rgb(255, 0, 0) !important; */
    padding: 10px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .issue-7-heading {
    /* border: 1px solid rgb(0, 0, 0) !important; */
    margin-bottom: 0;
    font-family: "DM Sans" !important;
    font-size: 32px !important;
    font-weight: 700 !important;
    width: 126px;
    height: 46px;
  }

  .issue-7-check-mark {
    width: 47px;
    height: 47px;
  }

  .issue-7-check-mark img {
    width: 13px;
    height: 13px;
  }

  p.issue-7-text {
    font-family: "DM Sans" !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    width: 290px;
    height: 90px;
    /* border: 1px solid rgb(255, 0, 0) !important; */
    margin-left: -60px !important;
  }

  .issue-7-container {
    /* border: 2px solid rgb(255, 0, 0) !important; */
    width: 310px !important;
    height: 208px !important;

    background: #fedd00 !important;
    border-radius: 8px;
    padding: 0;
  }
}

/***************************************************/
@media screen and (min-width: 769px) {
  .issue-font {
    font-family: headFont !important;
    font-size: 48px !important;
    font-weight: bold !important;
    line-height: 60px;
  }

  .issue-start {
    margin-left: -50px;
    width: 620px;
    height: 300px;
    /* border: 2px solid black; */
  }

  .large-font {
    display: flex;
    font-family: headFont !important;
    /* font-size: 36px !important; */
    /* line-height: 40px !important; */
    font-weight: 600 !important;
    margin-bottom: 0 !important;
    /* text-transform: uppercase; */
    /* border: 1px solid black !important; */
  }

  .issue-btn {
    font-size: 16px;
    line-height: 60px;
    width: 350px;
    height: 60px;
    background-color: #da3631;
    text-align: center;
    font-weight: 600;
    color: #fff;
    opacity: 0.9;
    margin-top: 50px;
    margin-left: -70px;
    /* border: 1px solid black !important; */
  }

  .issue-btn:hover {
    opacity: 1;
    color: #fff;
    text-decoration: none;
  }

  .issue-1-text {
    display: flex;
    /* border: 1px solid black; */
    justify-content: center;
    text-align: center;
  }

  .issue-2-text {
    font-family: headFont !important;
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    margin: 0 auto;
    margin-bottom: 115px;
    margin-top: 40px;
    padding: 0;
    /* border: 1px solid black; */
  }

  .issue-image {
    width: 600px;
    height: 400px;
    border: 1px solid black;
  }

  p.issue-7-text {
    width: 290px;
    height: 90px;
  }
}

.issue-2-text {
  font-family: headFont !important;
  text-align: center;

  margin-top: 20px;
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 50px;
  padding: 0;
  /* border: 1px solid black; */
}

.issue-font-family {
  font-family: headFont !important;
}

.issue-font-size {
  font-size: 24px !important;
}

.issue-font-weight {
  font-weight: 600 !important;
}
